@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
    display: flex;
    align-items: center;
}

.input-container input:focus+button {
    @apply border-blue-400;
}

#todo-list {
    overflow: scroll;
    scrollbar-width: none;
}

#todo-list li div {
    margin-right: 35px
}

#todo-list .task-checked {
    @apply bg-slate-100;
}

/* #todo-list li:hover .pencil-icon {
    display: flex !important;
} */

#todo-list .task-checked .close-icon {
    display: flex !important;
}

#todo-list li:hover .close-icon {
    display: flex !important;
}

#todo-list::-webkit-scrollbar {
    display: none;
}

#todo-list li:last-child {
    border-bottom: none;
}

#todo-list .mdi-icon {
    width: 35px;
    height: 20px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
    cursor: pointer;
}

#todo-list .mdi-icon svg {
    @apply text-white;
}

/* #todo-list .pencil-icon {
    @apply bg-yellow-500;
}

#todo-list .pencil-icon:hover {
    @apply bg-yellow-400;
} */

#todo-list .close-icon {
    @apply bg-slate-500;
}

#todo-list .close-icon:hover {
    @apply bg-slate-600;
}








/* #todoList .list-group-item {
    background-color: red;
}

#todoList .list-group-item .badge {
    width: 25px;
    height: 25px;

    opacity: 1;
    z-index: 1000;
    cursor: pointer;
    max-height: 20px;
}

#todoList .list-group-item:hover .badge {
    opacity: 1 !important;
}

#todoList .list-group-item input {
    width: 10%;
    max-width: 1rem;
}

#todoList .list-group-item label {
    width: 90%;
    user-select: none;
    cursor: pointer !important;
}

#todoList .list-group-item:hover {
    background-color: var(--bs-secondary-bg-subtle);
}

#todoList .list-group-item.task-complete {
    background-color: var(--bs-secondary-bg-subtle);
    border: 1px solid #a1a1a1;
}

#todoList .list-group-item.task-complete label {
    cursor: pointer !important;
    text-decoration: line-through;
}

#todoList .list-group-item.task-complete .badge {
    opacity: 1 !important;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

#todoList .list-group-item.task-complete .badge:hover {
    background-color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)) !important;
} */

@media (min-width: 992px) {
    #todo-list li .close-icon {
        display: none;
    }
}